<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	    <init-param>
	        <param-name>config</param-name>
	        <param-value>/WEB-INF/struts-config.xml</param-value>
	    </init-param>
	    <init-param>
	        <param-name>chainConfig</param-name>
	        <param-value>org/apache/struts/tiles/chain-config.xml</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
	    <servlet-name>Initializer</servlet-name>
	    <servlet-class>jp.co.skillup.bssapp.common.servlet.Initializer</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
	    <servlet-name>action</servlet-name>
	    <url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
	    <filter-name>EncodingFilter</filter-name>
	    <filter-class>jp.co.skillup.bssapp.filter.EncodingFilter</filter-class>
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	</filter>

	<filter>
	    <filter-name>LoginCheckFilter</filter-name>
	    <filter-class>jp.co.skillup.bssapp.filter.LoginCheckFilter</filter-class>
	    <init-param>
	        <param-name>uncheckPath</param-name>
	        <param-value>/view/login.jsp,/login/execute.do,/login,/login.do,/view/common/foundation-5.1.1</param-value>
	    </init-param>

	</filter>

	<filter-mapping>
	    <filter-name>EncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
	    <filter-name>LoginCheckFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
	    <welcome-file>/view/login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/conf/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<jsp-config>
	    <taglib>
	        <taglib-uri>/tags/struts-bean</taglib-uri>
	        <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
	    </taglib>
	    <taglib>
	        <taglib-uri>/tags/struts-html</taglib-uri>
	        <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
	    </taglib>

	    <taglib>
	        <taglib-uri>/tags/struts-logic</taglib-uri>
	        <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
	    </taglib>
	    <taglib>
	        <taglib-uri>/tags/struts-tiles</taglib-uri>
	        <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
	    </taglib>
	</jsp-config>

	<error-page>
	    <error-code>500</error-code>
	    <location>/WEB-INF/view/error/error.jsp</location>
	</error-page>
</web-app>